$app_background: #111218;

$app_color_05: rgba(
  $color: #fff,
  $alpha: 0.5,
);
$app_color_07: rgba(
  $color: #fff,
  $alpha: 0.7,
);
$app_color_06: rgba(
  $color: #fff,
  $alpha: 0.6,
);
$app_color_full: #fff;

$description_paragraph_color: rgba(
  $color: #fff,
  $alpha: 0.8,
);

$computer_background: #161722;

$color_offline: #f00;
$color_online: #0f0;
$color_latency: rgb(255, 123, 0);
$wake_button_background: rgba(255, 255, 255, 0.07);
$wake_button_border: rgba(255, 255, 255, 0.11);
$wake_button_color: rgba(
  $color: #fff,
  $alpha: 0.4,
);
$footer_color: rgba(
  $color: #fff,
  $alpha: 0.45,
);
