.computer {
  background-color: $computer_background;
  border-radius: 18px;

  padding: 25px 40px;

  width: 450px;

  h3,
  h4,
  h5 {
    font-size: 16px;

    &.offline {
      color: $color_offline;
    }
    &.online {
      color: $color_online;
    }
  }

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    div {
      display: flex;
      flex-direction: row;
      align-items: center;

      h3 {
        margin-right: 11px;
        color: $app_color_full;
      }

      h4 {
        color: $app_color_07;
      }
    }

    h4 {
      text-align: right;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: auto;

    margin-top: 9px;
    margin-bottom: 25px;
    h3 {
      color: $app_color_07;
    }

    h4 {
      color: $app_color_06;
    }
  }

  .power {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    button {
      min-width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;

      padding: 14px 40px;
      border-radius: 12px;
      border: 2px solid $wake_button_border;

      background: $wake_button_background;
      transition: filter 150ms, transform 50ms;

      svg {
        height: 20px;
        width: 20px;

        stroke: $wake_button_color;
      }

      &:hover {
        filter: brightness(70%);
      }

      &:active {
        transform: scale(1.05);
      }
    }

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      h5,
      h6 {
        font-size: 13px;
      }

      h5 {
        margin-right: 20px;
      }

      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        color: $app_color_06;

        svg {
          margin-right: 8px;
        }
      }
    }
  }
}

// .computer.light {
//   background-color: $computer_background_light;
//   h3,
//   h4,
//   h5 {
//     &.offline {
//       color: $color_offline_light;
//     }
//     &.online {
//       color: $color_online_light;
//     }
//   }

//   .title div {
//     h3 {
//       margin-right: 11px;
//       color: $app_color_full_light;
//     }

//     h4 {
//       color: $app_color_07_light;
//     }
//   }

//   .grid {
//     h3 {
//       color: $app_color_07_light;
//     }

//     h4 {
//       color: $app_color_06_light;
//     }
//   }

//   .power button {
//     border: 2px solid $wake_button_border_light;
//     background: $wake_button_background_light;
//     svg {
//       stroke: $wake_button_color_light;
//     }
//   }

//   div div {
//     color: $app_color_06_light;
//   }
// }
