.footer {
  position: absolute;
  bottom: 45px;

  width: 70vw;
  .divider {
    border-color: $footer_color;
    border-width: 2.5px;
    margin-bottom: 30px;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .text {
      font-weight: 700;
      font-size: 14.5px;
      color: $footer_color;

      margin-right: 15px;
    }
  }
}

// .footer.light {
//   .divider {
//     border-color: $footer_color_light;
//   }

//   .wrapper .text {
//     color: $footer_color_light;
//   }
// }
