.footer {
  position: absolute;
  bottom: 45px;

  width: 75vw;
  .divider {
    width: 100%;
    height: 2px;

    background-color: $footer_color;
    margin-bottom: 30px;
    border-radius: 5px;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .text {
      font-weight: 700;
      font-size: 14.5px;
      color: $footer_color;

      margin-right: 15px;
    }
  }

  @media (max-width: $layout_breakpoint_1) {
    width: 90vw;
  }

  @media (max-height: $layout_breakpoint_2) {
    position: relative;
    bottom: 0px;

    margin-top: 40px;
  }
}

// .footer.light {
//   .divider {
//     border-color: $footer_color_light;
//   }

//   .wrapper .text {
//     color: $footer_color_light;
//   }
// }
