div.power {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h3,
  h4,
  h5 {
    &.offline {
      color: $color_offline;
    }
    &.online {
      color: $color_online;
    }
    &.highlatency {
      color: $color_latency;
    }
  }

  button {
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    padding: 14px 40px;
    border-radius: 12px;
    border: 2px solid $wake_button_border;

    background: $wake_button_background;
    transition: opacity 150ms, transform 50ms;

    svg {
      height: 20px;
      width: 20px;

      stroke: $footer_color;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      transform: scale(1.05);
    }
  }
}

// div.power.light {
//   display: none;
//   h3,
//   h4,
//   h5 {
//     &.offline {
//       color: $color_offline_light;
//     }
//     &.online {
//       color: $color_online_light;
//     }
//     &.highlatency {
//       color: $color_latency_light;
//     }
//   }

//   button {
//     border: 2px solid $wake_button_border_light;

//     background: $wake_button_background_light;
//     svg {
//       stroke: $footer_color_light;
//     }
//   }

//   div div {
//     color: $app_color_06_light;
//   }
// }
