.computer {
  background-color: $computer_background;
  border-radius: 18px;

  padding: 25px 40px;

  width: 450px;

  h3,
  h4,
  h5 {
    font-size: 16px;

    &.offline {
      color: $color_offline;
    }
    &.online {
      color: $color_online;
    }
  }

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    div {
      display: flex;
      flex-direction: row;
      align-items: center;

      h3 {
        margin-right: 11px;
        color: $app_color_full;
      }

      h4 {
        color: $app_color_07;
      }
    }

    h4 {
      text-align: right;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: auto;

    margin-top: 9px;
    margin-bottom: 25px;
    h3 {
      color: $app_color_07;
    }

    h4 {
      color: $app_color_06;
    }
  }

  .power {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    button {
      min-width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;

      padding: 14px 40px;
      border-radius: 12px;
      border: 2px solid $wake_button_border;

      background: $wake_button_background;
      transition: filter 150ms, transform 50ms;

      svg {
        height: 20px;
        width: 20px;

        stroke: $wake_button_color;
      }

      &:hover {
        filter: brightness(70%);
      }

      &:active {
        transform: scale(1.05);
      }
    }

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      h5,
      h6 {
        font-size: 13px;
      }

      h5 {
        margin-right: 20px;
      }

      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        color: $app_color_06;

        svg {
          margin-right: 8px;
        }
      }
    }
  }

  @media (max-width: $layout_breakpoint_2) {
    width: 350px;
  }

  @media (max-width: $layout_breakpoint_3) {
    width: 80%;

    .title {
      flex-direction: column-reverse;
      align-items: flex-start;
      text-transform: capitalize;
    }

    .grid {
      grid-template-columns: auto;
      grid-template-rows: 20px 30px 20px 30px 20px 30px;
      margin-bottom: 0;
    }
  }
}
