div.power {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $layout_breakpoint_3) {
    flex-direction: column-reverse;
  }

  h3,
  h4,
  h5 {
    &.offline {
      color: $color_offline;
    }
    &.online {
      color: $color_online;
    }
    &.highlatency {
      color: $color_latency;
    }
  }

  button {
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    padding: 14px 40px;
    border-radius: 12px;
    border: 2px solid $wake_button_border;

    background: $wake_button_background;
    transition: opacity 150ms, transform 50ms;

    svg {
      height: 20px;
      width: 20px;

      stroke: $footer_color;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      transform: scale(1.05);
    }
  }
}
