div.power {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h3,
  h4,
  h5 {
    &.offline {
      color: #f00;
    }
    &.online {
      color: #0f0;
    }
    &.highlatency {
      color: rgb(255, 123, 0);
    }
  }

  button {
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    padding: 14px 40px;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.11);

    background: rgba(255, 255, 255, 0.07);
    transition: filter 150ms, transform 50ms;

    svg {
      height: 20px;
      width: 20px;

      stroke: rgba($color: #fff, $alpha: 0.4);
    }

    &:hover {
      filter: brightness(70%);
    }

    &:active {
      transform: scale(1.05);
    }
  }

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h5,
    h6 {
      font-size: 13px;
    }

    h5 {
      margin-right: 20px;
    }

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      color: rgba($color: #fff, $alpha: 0.6);

      svg {
        margin-right: 8px;
      }
    }
  }
}
